body {
    margin: 0;
    background-color: whitesmoke;
    color: whitesmoke;
    font-family: "Work Sans", sans-serif;
}

section{
    overflow: hidden;
    position: relative;
    flex-direction: column;
    align-items: center;
    place-content: center;
    align-content: center;
    min-height: 100vh;
    width: 100%;
    
    

}

.title {
    background-color: #1818b8;
    display: flex;
    align-items: start;
    
}

.red {
    background-color: rgb(255, 0, 0);
}

.dark {
    background-color: #252525;    
    
}

.pink {
    background-color: rgb(255, 0, 255);
}

/* Svg Blue Wave */
.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 133px;
}

.wave .shape-fill {
    fill: #1818B8;
}

/* Svg Black Wave */
.wave2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 133px;
}
.wave2 .shape-fill {
    fill: #252525;
}

/* Menu Icon and Navbar */
.material-symbols-outlined {
    color: whitesmoke;
    font-variation-settings:
  'FILL' 2,
  'wght' 850,
  'GRAD' 3,
  'opsz' 48
}

.navbar-brand {
    font-family: "Work Sans", sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    color: whitesmoke;
    
}
.navbar-brand:hover {
    color: whitesmoke;
}

/* logo Boxing */

.fittheheight {
    height: 100vh;
}
.half {
    position: relative;
    width: 50%;
}
.position {
    padding-right: 0;
    padding-left: 30vh;
    padding-top: 30vh;
    
}

/* animation from hidden to show */
.hidden {
    opacity: 0;
    transition: all 2s;
    filter: blur(5px);
    transform: translateX(100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* sponsors */
/* center the text */
.sponsor-head {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
/* make all the sponsor images appear as a brands that use the service */
.sponsors {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    padding-top: 8rem;
  
}

.sponsor-image {
    height: 50px;
    filter:  grayscale(100%) contrast(); 
    margin: 2rem;

}
.background {
    background-image: url(https://wyunasep.com/images/banner/banner1.jpg);
    height: 100vh;
    float: right;
    width: 50%;
    position: absolute;
    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    
}