{% extends "layout.html"%}

{% block main %}
<section class="dark">
    <div class="sponsor-head">
        <h1 style="padding-top: 20vh;">Contact Us</h1>
    </div>
    <div class="form-container">
        <form class="contact-form" onsubmit="/" method="post">
            <input type="text" name="name" autocomplete="off" class="form-control" placeholder="Your Name" >
            <input type="email" name="email" class="form-control" placeholder="Your Email" >
            <textarea name="message" autocomplete="off" class="form-control" placeholder="Message" rows="4" ></textarea>
            <input type="submit" onclick="check()" class="form-control submit" value="SEND MESSAGE">
        </form>    
    
    </div>

</section>




{% endblock %}