<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WyunaSep</title>


    <!-- set a link to a bootstrap stylesheet -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <!-- bootstrap JS -->


    <!-- set a link to a stylesheet -->

    <link rel="stylesheet" href="static/styles.css">

    <!-- google font   -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Work+Sans&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!-- set a link to a javascript file -->
    <script defer src="static/app.js"></script>
</head>
<body>

   
    <!-- Navbar implementation -->
    <nav class="navbar  bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">WyunaSep
                <!-- <img src="https://wyunasep.com/images/logo.jpg" alt="WyunaSep Logo"  class="d-inline-block align-text-top"> -->
            </a>

            <!-- The code for the toggling function of the navbar -->

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <span class="material-symbols-outlined">menu</span> 
            </button>
            
                          
            
            </div>
        </div>
    </nav>
    <!-- navbar ends -->
   
    <!-- main content -->

    <section class="title " id="TitleCard">
        <div class=" half fittheheight background"> 
            <h1></h1>
        </div>
        <div class="half fittheheight position" id="TitleLeftBox">
            <div class="hidden">
                <h6 class="logo"> WyunaSep</h6>
                <h1 class="logo">Giving Water
                    <br>
                     a Second Chance</h1>
                <p class="logo">WyunaSep has developed a breakthrough water / waste stream clean up technology for land based applications and other water-intensive industries.</p>            
            </div> 
        </div>
        
        
       
    </section>
   
    
    <section class="dark " style="display: grid;">
        <div >
            <div class="sponsor-head">
                <h1 class="hidden">Companies Using Our Technology</h1>
            </div>
           
            <div class="wave">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
                    <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
                    <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
                </svg>
            </div>
            <div class="sponsors">
                <!-- I still have to download all of the svg images to the main static file. also edit all of the alt tags -->
                <img  class="sponsor-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Indian_Oil_Logo.svg/752px-Indian_Oil_Logo.svg.png?20210602150702" alt="Indian Indian_Oil_Logo">
                <img class="sponsor-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/Adani_logo_2012.svg/170px-Adani_logo_2012.svg.png?20211023113746" alt="">
                <img  class="sponsor-image"src="https://upload.wikimedia.org/wikipedia/sco/thumb/d/d2/BP_Helios_logo.svg/319px-BP_Helios_logo.svg.png?20170621173414https://upload.wikimedia.org/wikipedia/sco/thumb/d/d2/BP_Helios_logo.svg/319px-BP_Helios_logo.svg.png?20170621173414" alt="">
                <img class="sponsor-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Mobil_logo.svg/450px-Mobil_logo.svg.png?20150620221532" alt="">
                <img class="sponsor-image" src="https://upload.wikimedia.org/wikipedia/commons/b/b6/BHP_2017_logo.svg" alt="">
                <img class="sponsor-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Barrick_Gold_logo.svg/543px-Barrick_Gold_logo.svg.png?20200815093542" alt="">
            </div>
            
           
        </div>
       
       
    </section>
    
    
    <section class="title">
        <div class="hidden half fittheheight position TitleLeftBox">
            <h1>WyunaSep</h1>
        </div>

        <!-- Black SVG Wave -->
        <div class="wave2" >
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
                <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
                <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
            </svg>
        </div>
    </section>

    <section class="dark">
        <div class="sponsor-head">
            <h1 style="padding-top: 20vh;">Contact Us</h1>
        </div>
        <div class="form-container">
            <form class="contact-form" action="/index" method="post">
                <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                <input type="email" name="email" class="form-control" placeholder="Your Email" required>
                <textarea name="message" class="form-control" placeholder="Message" rows="4" required></textarea>
                <input type="submit" class="form-control submit" value="SEND MESSAGE">
            </form>    
        
        </div>

    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script> 
</body>
</html>